.total-search-value{
    background-color: #81d3f8;
    width: 150px;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    // font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.total-search-title{
    // font-size: 18px;
    font-weight: bold;
}