<!DOCTYPE html>
<html>
  <head>
    <title>Building Manager</title>
    <meta charset="utf8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="bw_css/bw_blackwind.css" />
    <link rel="stylesheet" type="text/css" href="bw_css/bw_main.css" />
     
  </head>
  <body id="bw_home">
    <div class="bw_wrapper bw_page_0 bw_relative">
      <div class="bw_img_background">
        <img src="bw_image/basic.jpg" />
      </div>
      <div class="bw_name_debug">
        <h2>Hoàng Văn Minh</h2>
        <h3>23-8-1990</h3>
      </div>
    </div>

    <div class="bw_wrapper bw_page_1">
      <div class="bw_text_center bw_mt_40">
        <img src="bw_image/logo.png" alt="1" style="max-height: 60px" />
      </div>
      <h1>CHÀO MỪNG</h1>
      <div class="bw_user_infor bw_text_center bw_mt_30">
        <img
          src="http://tsh.blackwind.vn/file/2a9970f2-130e-420d-8d79-db25a749d4da.jpeg"
          alt="1"
        />
        <h2>Hoàng Văn Minh</h2>
        <h3>23-8-1990</h3>
      </div>
      <div class="bw_mt_30">
        <div class="bw_about">
          <p>
            LA BÀN CUỘC ĐỜI là bản kế hoạch cuộc sống đáng giá mà bạn đang sở
            hữu. Những nội dung chi tiết tại đây sẽ giúp bạn bước chân vào Hành
            trình khám phá chính bản thân mình một cách sâu sắc nhất, cụ thể
            nhất. Mọi sự phát triển bên ngoài đều cần xuất phát từ sự thấu hiểu
            bên trong, khi bạn hiểu được chính mình, tôn trọng được bản thể của
            mình thì đó cũng là lúc bạn bắt đầu đi đúng hướng. LA BÀN CUỘC ĐỜI
            giúp bạn hiểu bản thân, hiểu những tiềm năng tối đa của mình và hỗ
            trợ bạn một kế hoạch sáng rõ cho tương lai.
          </p>
          <p style="text-align: center; margin-bottom: 0; margin-top: 0">
            *****
          </p>
          <p>
            Hãy thực sự dành thời gian để “đọc và suy ngẫm” bản LA BÀN CUỘC ĐỜI
            này nhiều lần, điều đó chắc chắn giúp bạn kích hoạt những sự rung
            động tích cực với những con số cuộc đời để đạt được sự hạnh phúc và
            thịnh vượng!
          </p>
        </div>
      </div>
    </div>

    <div class="bw_wrapper bw_page_3 bw_page_4 bw_page_34">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <h1>NHỮNG ĐIỀU KHÔNG THỂ BỎ QUA</h1>
      <div class="bw_content_more">
        <h4>
          Hiểu biết chuyên sâu về Lịch sử và Sự phát triển của bộ môn Numerology
          (Thần số học)
        </h4>
        <p>
          Trên hành trình nghiên cứu của mình, chúng tôi đã đi từ bất ngờ này
          sang bất ngờ khác vì càng nghiên cứu chúng tôi càng nhận thấy sự
          chuyên sâu và những giá trị to lớn mà Numerology mang lại. Chúng tôi
          muốn chia sẻ với bạn những thông tin quan trọng về Lịch sử phát triển
          của bộ môn này.
        </p>
        <p>
          Triết gia người Hy Lạp Pythagoras được mệnh danh là cha đẻ của bộ môn
          số học. Ông là một nhà triết gia lỗi lạc với trường tri thức uyên bác
          khổng lồ về số học, hình học, thiên văn học, địa lý, y học,… Niềm đam
          mê sâu sắc của ngài đã đưa ngài đến đến Ai Cập để nghiên cứu về số học
          trong hàng chục năm.
        </p>
        <div class="bw_img_fl">
          <img src="bw_image/py.png" />
          <p>
            Pythagoras tin rằng thế giới được xây dựng dựa trên sức mạnh của
            những con số và bất cứ thứ gì đều có thể được chuyển sang dạng số,
            thường ở dạng chữ số đơn lẻ. Ý tưởng gán các giá trị số cho các chữ
            cái được gọi là Hệ thống số Pitago (Pythagorean Number System) và
            được sử dụng trong môn số học hiện đại.
          </p>
        </div>
        <p>
          Trước khi thuật ngữ “Numerology” ra đời, trường phái nghiên cứu này
          được gọi chung là Khoa học của các con số. Tiếp nối Pythagoras, rất
          nhiều những nhà khoa học, nhà nghiên cứu trên khắp thế giới đều dựa
          vào các hệ thống và phương pháp khác nhau của bộ môn này trong suốt
          lịch sử và tồn tại cho đến ngày hôm nay. Các nghiên cứu này phát triển
          theo hai hướng: sử dụng “Numerology” để khám phá bản thân hoặc để đưa
          ra những dự đoán, tiên tri. Họ đều cho rằng “Các con số là ngôn ngữ
          chung của thế giới”.
        </p>
        <p>
          “Numerology” là một bộ môn đúc kết những trí tuệ hàng ngàn năm, dựa
          trên hàng ngàn những phân tích và kiểm chứng thực tế, nó thực sự rất
          trực quan và đáng tin cậy. Bạn có thể khám phá những bí mật dẫn đến sự
          hiểu biết về bản thân mình và thậm chí với một hồ sơ số học đầy đủ bạn
          có thể nắm bắt bức tranh cuộc đời và vận mệnh của mình để phát triển
          thành công, hạnh phúc như mong muốn.
        </p>
        <h4 style="margin-top: 20px">
          Vì sao chúng tôi rất tự hào với những nghiên cứu mà bạn đang cầm trên
          tay?
        </h4>
        <p>
          “Numerology” được người Việt Nam biết đến với thuật ngữ gốc là “Thần
          số học” (hoặc một vài nơi tự đặt ra các tên gọi khác như: Nhân số học,
          Thiện số học, Số học giải mã,…). Chúng tôi muốn lưu giữ sự tôn kính và
          linh thiêng cũng như giá trị gốc của bộ môn này với tên gọi là “Thần
          số học” (Bao hàm ý nghĩa về các con số khoa học và sự ảnh hưởng linh
          thiêng của các vị thần).
        </p>
      </div>
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 3</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_3 bw_page_4 bw_page_34">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <div class="bw_content_more">
        <p>
          Chia sẻ với bạn về hành trình nghiên cứu của mình, chúng tôi đã đến
          với Thần số học bằng thái độ khiêm nhường và học hỏi, chúng tôi luôn ý
          thức rằng kiến thức là vô tận và bản thân mình chỉ là một sự tiếp nối
          của nguồn tri thức lớn lao này. Bởi vì thế chúng tôi có nhiều cơ hội
          gặp gỡ, trao đổi, liên lạc với nhiều những nhà nghiên cứu, chuyên gia
          về Numerology tại Việt Nam và trên thế giới để làm dày lên những hiểu
          biết đúng đắn nhất.
        </p>
        <p>
          Những kiến thức và nội dung mà bạn đang cầm trên tay là kết quả của cả
          một quá trình dài hạn “tìm hiểu – phân tích – chiêm nghiệm – thực
          chứng – đúc kết”. Chúng tôi tự hào vì sự nghiêm túc và cầu thị của
          mình, tự tin mang đến cho các bạn những thông tin giá trị nhất và đáng
          tin cậy nhất để giúp bạn mở ra một cuộc sống hạnh phúc và thịnh vượng.
        </p>
        <h4 style="margin-top: 20px">
          Chỉ dẫn để bạn nhận được nhiều giá trị nhất từ LA BÀN CUỘC ĐỜI
        </h4>
        <p>
          Bạn thân mến, chúng tôi đã dành thời gian suy nghĩ và phân tích rất
          nhiều các Ứng dụng Thần số học vào trong đời sống cá nhân để đưa ra bố
          cục hoàn chỉnh cho bản LA BÀN CUỘC ĐỜI. Những lời chỉ dẫn dưới đây sẽ
          giúp bạn nhận được nhiều giá trị nhất từ những thông tin trong báo cáo
          này:
        </p>
        <ul>
          <li>
            <h5>Những phần nên đọc trước:</h5>
            - Trang “Những điều không thể bỏ qua”: giúp bạn có thêm sự hiểu biết
            về bộ môn Numerology (Thần số học) và thực sự có niềm tin đúng đắn
            về những kiến thức khoa học các con số. Niềm tin sẽ dẫn lối cho bạn
            những năng lượng tích cực để thấu hiểu những thông tin hiệu quả.<br /><br />
            - Trang “Triết lý nền tảng”: Nắm rõ những triết lý xây dựng và ứng
            dụng nội dung sản phẩm vào cuộc sống cũng như hiểu các Quy luật vũ
            trụ vận hành song song để làm chủ vận mệnh của mình một cách thông
            thái hơn.
          </li>
          <li>
            <b><i>Xác định rõ</i></b> đâu là vấn đề bạn đang gặp phải hoặc ưu
            tiên của bạn trên hành trình hướng tới thành công và hạnh phúc. Khi
            xác định rõ vấn đề và ưu tiên, bạn hãy xem kỹ phần Mục lục để nắm
            bắt được các khía cạnh liên quan đến chúng và sắp xếp thứ tự đọc,
            suy ngẫm phù hợp cho mình.
          </li>
          <li>
            Bạn nên đọc thật kỹ và chiêm nghiệm thật sâu các trải nghiệm của
            mình cho từng phần, không giới hạn số lần đọc và xem lại để bạn thực
            sự thấu hiểu và sống trọn vẹn với năng lượng của các con số mà bản
            thân mình sở hữu.
          </li>
        </ul>
        <p>
          Có một điều chắc chắn rằng:
          <b
            ><i
              >“Khi bạn càng hiểu rõ bản thân mình, nắm chắc được hành trình của
              mình, bạn càng có nhiều quyền kiểm soát và tự chủ đối với những
              thay đổi của cuộc sống, đạt đến tiềm năng của sự hạnh phúc và
              thịnh vượng!”</i
            ></b
          >
        </p>
      </div>
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 4</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_3 bw_page_4 bw_page_35">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <h1>TRIẾT LÝ NỀN TẢNG</h1>
      <div class="bw_text_1">
        <h3>Các bạn thân mến,</h3>
        <p>
          Vạn vật tồn tại trên thế giới này và những sự kiện xảy ra xung quanh
          chúng ta đều có ý nghĩa và đều tuân theo nền tảng quan trọng. Trong
          quá trình xây dựng và phát triển công trình “Ứng dụng Thần số học”,
          chúng tôi đã luôn bám sát vào 3 triết lý nền tảng chính: đó là Nghiên
          cứu chuyên sâu - Ứng dụng thực tiễn vào đời sống và Tổng hòa 6 quy
          luật quan trọng của vũ trụ. Ba nền tảng này đã theo suốt từng nội dung
          của các chỉ số, các chỉ dẫn và các sản phẩm chuyên biệt của chúng tôi.
        </p>
        <ul>
          <li>
            <b>Triết lý “Nghiên cứu chuyên sâu”:</b> Chúng tôi hiểu rằng, bất cứ
            một lĩnh vực nào cũng cần sự nghiên cứu nghiêm túc, cẩn thận và kỹ
            lưỡng. Chúng tôi không chỉ tập trung nghiên cứu từ các kiến thức
            sách vở, tài liệu, các công trình khoa học mà còn đi sâu vào các
            kiểm chứng, thực nghiệm thực tế trong đời sống con người. Chỉ có
            niềm đam mê sâu sắc, sự nghiêm túc và thái độ bền bỉ theo thời gian
            mới có thể mang đến những giá trị tốt nhất.
          </li>
          <li>
            <b>Triết lý “Ứng dụng thực tiễn”:</b> Chúng tôi quan niệm bất cứ
            kiến thức nào muốn trở nên có giá trị nhất cần được đưa vào thực
            tiễn cuộc sống. Chỉ khi kiến thức đó giúp ích cho đời sống con người
            hạnh phúc hơn, thành công hơn thì đó mới là đích đến cuối cùng.
            Chính vì lẽ đó chúng tôi xây dựng Ứng dụng Thần Số Học để giúp mọi
            người một cách thực tế và hiệu quả nhất.
          </li>
          <li>
            <b>Triết lý “Tổng hòa 6 quy luật vũ trụ”:</b> Tất cả mọi sự vật sự
            việc và con người xảy ra đều tuân theo những quy luật bất biến. Cùng
            với sự nghiên cứu sâu sắc về khoa học của những con số, chúng tôi đã
            ngầm đưa sự hiểu biết về 6 quy luật vũ trụ này vào từng trang nội
            dung các Sản phẩm để gửi bạn những thông điệp giá trị nhất.
          </li>
        </ul>
        <p><img src="bw_image/de.jpg" alt="1" /></p>
      </div>
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 5</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_3 bw_page_4">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <h1>LỜI CẢM ƠN<br /><span>ĐỘI NGŨ NGHIÊN CỨU</span></h1>
      <div class="bw_text_1">
        <p>
          Chúng tôi xin gửi lời cảm ơn tới đội ngũ Ứng dụng Thần số học, trải
          qua nhiều năm nghiên cứu nghiêm túc đội ngũ đã vận dụng những kiến
          thức và kinh nghiệm để cho ra những sản phẩm mang tính chính xác và cá
          nhân hóa rất cao, giúp khách hàng ứng dụng thành công vào đời sống.
          Trong quá trình nghiên cứu, đội ngũ đã tham khảo, khảo nghiệm và chứng
          thực hàng trăm tài liệu Thần số học hiện đại và cổ xưa để mang lại
          những giá trị xác thực và hiếm có tới tay người đọc.
        </p>
      </div>
      <div class="bw_user bw_mt_30">
        <div class="bw_quote bw_c_u">
          <h4>
            Đồng thời, chúng tôi cũng xin được tri ân những bậc vĩ nhân, những
            nhà nghiên cứu về Thần số học trên thế giới mà chúng tôi được học
            hỏi và truyền cảm hứng lớn lao từ họ!
          </h4>
        </div>
        <div class="bw_user_over">
          <img src="bw_image/pytago.png" alt="1" style="width: 100%" />
        </div>
        <div class="bw_quote bw_c_u">
          <h4>
            "Numerology is the bridge between who you are now and who you have
            the potential to be."
          </h4>
          <h4 style="color: #fff">
            "Khoa học những con số là chiếc cầu nối giữa con người hiện tại của
            bạn và con người tiềm năng mà bạn sẽ trở thành"
          </h4>
        </div>
      </div>
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 6</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_54">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <h1>MỤC LỤC</h1>
      <div class="bw_content_54">
        <h3><span>1.</span> Bảng tổng quan các chỉ số sơ đồ thống kê</h3>
        <p>Lá số Thần số học, Sơ đồ cuộc đời, Ma trận năng lượng con số</p>
      </div>
      <div class="bw_content_54">
        <h3><span>2.</span> Định hướng cuộc đời</h3>
        <p>
          Phân tích Đường đời, Định mệnh, Trưởng thành, Cầu nối, Cân bằng, Sơ đồ
          sức mạnh
        </p>
      </div>
      <div class="bw_content_54">
        <h3><span>3.</span> Điểm mạnh</h3>
        <p>Phân tích Thành tựu, Chỉ dẫn phát triển, Ngày sinh, Đam mê</p>
      </div>
      <div class="bw_content_54">
        <h3><span>4.</span> Đặc tính nội tâm</h3>
        <p>Phân tích Linh hồn, Thái độ tiềm thức</p>
      </div>
      <div class="bw_content_54">
        <h3><span>5.</span> Đặc tính biểu đạt</h3>
        <p>
          Phân tích Thái độ, Nhân cách, Tên riêng, Đặc điểm khởi đầu, Mục tiêu
          hoàn thành
        </p>
      </div>
      <div class="bw_content_54">
        <h3><span>6.</span> Đặc tính tư duy</h3>
        <p>Phân tích Lý trí, Bản năng, Ngôn ngữ trái tim</p>
      </div>
      <div class="bw_content_54">
        <h3><span>7.</span> Thách thức & điểm yếu</h3>
        <p>
          Phân tích Căng thẳng, Bài học phụ, Bài học nhân quả, Thói quen thử
          thách, Sơ đồ trục trống
        </p>
      </div>
      <div class="bw_content_54">
        <h3><span>8.</span>Ứng dụng nâng cao</h3>
        <p></p>
      </div>
      <div class="bw_content_54">
        <h3><span>9.</span> Chiến lược cho thành công</h3>
        <p>
          Tiềm năng cao nhất và chìa khóa giúp bạn tạo nên thành tích vượt trộ
        </p>
      </div>
      <div class="bw_content_54">
        <h3><span>10.</span> Tối ưu hóa bản thân</h3>
        <p>Tối ưu bản thân về thể chất, tinh thần và mối quan hệ</p>
      </div>
      <div class="bw_content_54">
        <h3><span>11.</span> Khắc chế điểm yếu</h3>
        <p>
          Nhận diện và loại bỏ thách thức hoặc điều không may đến với bạn, bổ
          sung và hoàn thiện bộ số của bạn
        </p>
      </div>
      <div class="bw_content_54">
        <h3><span>12.</span> Chỉ dẫn hạnh phúc</h3>
        <p>Thông điệp chữa lành và đánh thức năng lượng bên trong bạn</p>
      </div>
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 7</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_3">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <h1>NHỮNG ĐIỀU LA BÀN CUỘC ĐỜI<br /><span>MANG LẠI CHO BẠN</span></h1>
      <p>
        Bạn hãy dành thời gian đọc và chiêm nghiệm những nội dung của LA BÀN
        CUỘC ĐỜI để nhận được những lợi ích quan trọng dưới đây.
      </p>
      <img src="bw_image/h22.png" alt="1" />
      <div class="bw_absolute bw_page_footer">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 8</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_7">
      <div class="bw_page_header bw_color_black">
        <img src="bw_image/logo_c.png" alt="1" />
      </div>
      <div class="bw_text_center bw_sdfs">
        <h1>TỔNG QUAN LÁ SỐ CỦA BẠN</h1>
        <img src="bw_image/i__border.png" height="30" />
      </div>
      <div class="bw_absolute bw_page_footer bw_color_black">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 9</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_6">
      <div class="bw_page_header bw_color_black">
        <img src="bw_image/logo_c.png" alt="1" />
      </div>
      <div class="bw_text_center bw_sdfs">
        <h1>MA TRẬN NĂNG LƯỢNG<br />CÁC CON SỐ</h1>
        <img src="bw_image/i__border.png" height="30" />
        <p>
          Thông qua biểu đồ cột bên dưới, bạn sẽ thấy mức độ ảnh hưởng của các
          con số từ 1-9 đối với bạn.
        </p>
      </div>
      <div class="bw_content bw_content_luangiai">
        <p style="text-align: center">
          <img
            src="bw_image/img_cot.png"
            alt="1"
            style="width: 75%; background: #fff; padding: 15px; margin: 0 auto"
          />
        </p>
        <p>
          Ở biểu đồ tròn dưới đây, mỗi con số đại diện cho 1 năng lượng về tính
          cách và bạn có thể thấy được bạn có những tính cách nổi bật và không
          nổi bật nào
        </p>
        <p style="text-align: center">
          <img
            src="bw_image/img_tron.png"
            style="width: 75%; background: #fff; padding: 15px; margin: 0 auto"
            alt="1"
          />
        </p>
        <p>
          Nếu các biểu đồ dạng bên trên khái quát con người bạn dựa trên ma trận
          năng lượng số thì các phân tích ở phần tiếp theo sẽ giúp bạn đi sâu
          vào từng khía cạnh của mình, và phân tích năng lượng con số của bạn
          dưới các dạng
          <b
            >2 chữ số (double-digit), dạng master, dạng đặc biệt, sự vận động
            của các con số trong lá số...</b
          >
          để bạn có cái nhìn sâu nhất và cá nhân hóa nhất cho bản thân mình
        </p>
      </div>
      <div class="bw_absolute bw_page_footer bw_color_black">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 10</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_5">
      <div class="bw_page_header">
        <img src="bw_image/logo.png" alt="1" />
      </div>
      <div class="bw_text_page">
        <h1>Định hướng<br />cuộc đời</h1>
        <p>
          Giúp bạn tìm ra hướng đi phù hợp và đúng đắn cho bản thân mình trên
          chặng đường đời phía trước. Con đường của bạn giờ đây đã có một tấm
          biển chỉ dẫn thông thái.
        </p>
        <div class="bw_s">
          <img src="bw_image/i__border.png" height="30" />
          <ul>
            <li>Đường đời</li>
            <li>Sứ mệnh</li>
            <li>Trưởng thành</li>
            <li>Cầu nối</li>
            <li class="bw_last_li">Cân bằng</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bw_wrapper bw_page_8 bw_split">
      <div class="bw_page_header bw_color_black">
        <img src="bw_image/logo_c.png" alt="1" />
      </div>
      <div class="bw_text_center bw_sdfs">
        <h1>ĐƯỜNG ĐỜI (LIFE PATH)</h1>
      </div>
      <div class="bw_content bw_mt_20">
        <div class="bw_index_items">
          <p>32/5</p>
        </div>
        <div class="bw_tetx">
          <p>
            Chỉ số đường đời l&agrave; chỉ số c&oacute; &yacute; nghĩa lớn nhất
            trong suốt h&agrave;nh tr&igrave;nh cuộc sống của bạn. N&oacute;
            phản &aacute;nh con đường m&agrave; bạn cần đi qua, từ đ&oacute;
            h&igrave;nh th&agrave;nh n&ecirc;n c&aacute;c đặc điểm t&iacute;nh
            c&aacute;ch của bạn, tiết lộ cho bạn biết c&aacute;c kỹ năng bạn cần
            ph&aacute;t triển để th&agrave;nh c&ocirc;ng, những b&agrave;i học
            m&agrave; bạn cần tốt nghiệp để đi tới đ&iacute;ch đến của
            m&igrave;nh. H&atilde;y nương theo con số n&agrave;y để con đường
            m&agrave; bạn đi thuận lợi v&agrave; &yacute; nghĩa nhất.
          </p>
        </div>
        <div class="bw_mt_40 bw_luangiai">
          <div class="bw_content_luangiai">
            <p style="text-align: center">
              <em><strong>QUOTE DÀNH CHO ĐƯỜNG ĐỜI 1</strong></em>
            </p>
            <p>
              <strong>“</strong
              ><em
                ><span style="font-weight: 400"
                  ><strong
                    >Khi tôi dám bước tới điểm bắt đầu tôi đã tự cho mình cơ hội
                    để chiến thắng. Không có điều gì có thể ngăn cản bước chân
                    của người mang ý chí và quyết tâm cao độ"
                  </strong></span
                ><span style="font-weight: 400">(</span></em
              ><span style="font-weight: 400">Khuyết danh)</span>
            </p>
            <p style="text-align: center">
              <span style="color: #e03e2d"
                ><strong
                  >RUNG ĐỘNG NĂNG LƯỢNG RIÊNG: THỦ LĨNH - SỰ DẪN ĐẦU</strong
                ></span
              >
            </p>
            <p style="text-align: center">
              <strong
                >Những Keyword nổi bật ở người có Đường đời là con số 1:</strong
              >
            </p>
            <table
              style="
                border-collapse: collapse;
                width: 100%;
                background-color: #eccafa;
                border-color: #843fa1;
              "
              border="1"
            >
              <tbody>
                <tr>
                  <td style="width: 17.3749%; text-align: center">
                    <p>
                      <strong><em>Lãnh đạo</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Tiên phong</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.8083%; text-align: center">
                    <p>
                      <strong><em>Tập trung</em></strong>
                    </p>
                  </td>
                  <td style="width: 17.9415%; text-align: center">
                    <p>
                      <strong><em>Trách nhiệm</em></strong>
                    </p>
                  </td>
                  <td style="width: 13.7866%; text-align: center">
                    <p>
                      <strong><em>Sáng tạo</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Mạnh mẽ</em></strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="width: 17.3749%; text-align: center">
                    <p>
                      <strong><em>Quyết đoán</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Độc lập</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.8083%; text-align: center">
                    <p>
                      <strong><em>Hành động</em></strong>
                    </p>
                  </td>
                  <td style="width: 17.9415%; text-align: center">
                    <p>
                      <strong><em>Mục tiêu</em></strong>
                    </p>
                  </td>
                  <td style="width: 13.7866%; text-align: center">
                    <p>
                      <strong><em>Tự tin</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Năng động</em></strong>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <span style="color: #e03e2d"
                ><strong>TÍNH CÁCH ĐƯỢC HÌNH THÀNH</strong></span
              >
            </p>
            <p>
              <em
                ><span style="font-weight: 400"
                  >Theo những nghiên cứu thực tế của Ungdungthansohoc.com về
                  cuộc đời của mỗi con người, chúng tôi nhận thấy Chỉ số đường
                  đời là
                </span></em
              ><strong><em>chỉ số xuyên suốt hành trình cuộc đời</em></strong
              ><em
                ><span style="font-weight: 400">
                  của mỗi người. Bạn cần
                </span></em
              ><strong><em>phân biệt</em></strong
              ><em
                ><span style="font-weight: 400">
                  được rằng những “ƯU ĐIỂM” dưới đây là
                </span></em
              ><strong
                ><em
                  >những điểm mạnh được hình thành trên chặng đường phát triển
                  của bạn</em
                ></strong
              ><em
                ><span style="font-weight: 400"
                  >, từ khi bạn sinh ra đến mãi về sau. Những đặc điểm này
                </span></em
              ><em
                ><span style="font-weight: 400"
                  >không phải “yếu tố bẩm sinh”</span
                ></em
              ><em
                ><span style="font-weight: 400"
                  >. Bạn hiểu rằng Chỉ số đường đời chỉ ra cho bạn con đường bạn
                  cần đi, các sự kiện tình huống diễn ra trên con đường đó có
                  những tính chất riêng nhất định tùy theo con số mà bạn sở hữu.
                  Khi đi trên con đường đó, bạn sẽ được tôi luyện, va vấp để
                </span></em
              ><strong><em>bộc lộ ra những ưu điểm phù hợp</em></strong
              ><em
                ><span style="font-weight: 400">
                  với hành trình của bạn.</span
                ></em
              >
            </p>
            <p>
              <span style="color: #e03e2d"><strong>ƯU ĐIỂM</strong></span>
            </p>
            <p>
              <span style="font-weight: 400"
                >Người số 1 đại diện cho những người thủ lĩnh, tiên phong thực
                hiện những điều mới mẻ hoặc những việc chưa ai dám dấn thân. Bạn </span
              ><strong>NAME </strong
              ><span style="font-weight: 400"
                >có khả năng lãnh đạo và dẫn dắt cho người khác thực hiện mục
                tiêu đã đề ra. Trong tổ chức, đội nhóm, người số 1 luôn là người
                có trách nhiệm cao nhất và cũng thường là người đảm bảo kết quả
                cuối cùng của bất kì công việc nào mà họ đảm nhận.</span
              >
            </p>
            <p>
              <span style="font-weight: 400">Con số 1 mang năng lượng của </span
              ><strong><em>sự độc lập, tự chủ</em></strong
              ><span style="font-weight: 400">
                chính vì thế người số 1 luôn có tính tự lập và khả năng tự ra
                quyết định rất mạnh mẽ. Nếu bạn đã thích và lựa chọn một chủ đề
                nào đó, bạn sẽ sẵn sàng là người dẫn đầu để khai phá và thực
                hiện tìm hiểu, phát triển đến cùng chủ đề đó dù có bất cứ khó
                khăn nào xảy ra. Đồng thời, bạn cũng có tài năng trong việc </span
              ><strong><em>tổ chức sắp xếp</em></strong
              ><span style="font-weight: 400">
                công việc cũng như con người để hoàn thành mọi việc tốt
                nhất.</span
              >
            </p>
            <p>
              <span style="font-weight: 400">Bạn </span><strong>NAME</strong
              ><span style="font-weight: 400"> có tính </span
              ><strong><em>hành động mạnh mẽ</em></strong
              ><span style="font-weight: 400"
                >, đối với bạn chỉ có hành động mới mang lại kết quả thực sự,
                chỉ có hành động mới là ngôn ngữ thực tế nhất trong đời sống.
                Bạn sáng tạo và tự tin chinh phục bất cứ mục tiêu nào mình đã đề
                ra. Có thể nói, người số 1 là người bị ám ảnh bởi mục tiêu, vì
                vậy nên bạn có </span
              ><strong><em>khả năng tập trung</em></strong
              ><span style="font-weight: 400">
                cao độ cho những gì mình mong muốn thực hiện.</span
              >
            </p>
            <p>
              <strong><em>Cá tính, năng động</em></strong
              ><span style="font-weight: 400">
                và khát khao thể hiện bản thân là điểm nổi trội ở con người bạn. </span
              ><strong>NAME</strong
              ><span style="font-weight: 400">
                sẽ luôn quyết tâm cao độ để giành được thắng lợi bởi bạn có niềm
                tin vững chãi về chính bản thân mình và khả năng thực hiện xuất
                sắc mọi công việc.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Một đặc điểm dễ nhận thấy ở bạn sẽ là </span
              ><strong><em>năng lực sáng tạo</em></strong
              ><span style="font-weight: 400">
                tuyệt vời và rất thông minh. Bạn có nhiều phát kiến táo bạo, mới
                mẻ và luôn thúc đẩy bản thân tìm kiếm những giải pháp đổi mới
                thậm chí là những cải cách vượt trội. Bạn có nhiều ý tưởng, thậm
                chí khác biệt và đi ngược với số đông nhưng bạn luôn tìm cách
                hiện thực hóa nó bằng mọi giá.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Hãy không ngừng phát triển để trở thành một người lãnh đạo
                tuyệt vời bởi bên trong </span
              ><strong>NAME </strong
              ><span style="font-weight: 400"
                >đã có sẵn nhiệt huyết để truyền cảm hứng cho người khác, </span
              ><span style="font-weight: 400"
                >thúc đẩy người khác đạt mục tiêu và khích lệ họ thêm tin tưởng
                vào bản thân mình.</span
              >
            </p>

            <p>
              <span style="color: #e03e2d"
                ><strong>ĐỊNH HƯỚNG PHÁT TRIỂN TỐI ƯU</strong></span
              >
            </p>
            <ul>
              <li aria-level="1"><strong>Môi trường nên lựa chọn</strong></li>
            </ul>
            <p>
              <strong>NAME </strong
              ><span style="font-weight: 400"
                >cần lựa chọn những công việc đòi hỏi sự tập trung, tính mục
                tiêu và cơ hội bộc lộ khả năng của bản thân. Đó cần là những cơ
                hội mở và linh hoạt để cho bạn có quyền được lựa chọn và ra
                quyết định. Bạn sẽ không phù hợp với những quy trình khuôn mẫu,
                những công việc không sáng tạo hoặc không cho phép biểu đạt năng
                lực riêng của mỗi cá nhân.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Hãy tham gia các đội nhóm và xung phong trở thành trưởng nhóm,
                lãnh đạo và nhận trách nhiệm trong những hoạt động tập thể. Điều
                đó giúp bạn kích hoạt được vô số tiềm năng của trường năng lượng
                bên trong bạn.</span
              >
            </p>
            <ul>
              <li aria-level="1"><strong>Kỹ năng cần rèn luyện</strong></li>
            </ul>
            <p>
              <span style="font-weight: 400"
                >Những kỹ năng đã có sẵn bên trong bạn cần được kích hoạt mạnh
                mẽ hơn trong các tình huống thực tế: kỹ năng ra quyết định, kỹ
                năng lãnh đạo, quản trị bản thân, lên kế hoạch, tổ chức, sắp
                xếp, giải quyết vấn đề,...</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Ngoài ra, để đạt được trạng thái cân bằng tốt hơn nữa, </span
              ><strong>NAME </strong
              ><span style="font-weight: 400"
                >nên chú ý đến việc vun bồi kỹ năng lắng nghe hiệu quả, làm việc
                nhóm, quản trị cảm xúc, thiền định,...</span
              >
            </p>
            <p> </p>

            <p>
              <span style="color: #e03e2d"
                ><strong>BÀI HỌC ĐƯỜNG ĐỜI</strong></span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Trên con đường đời của mình, bạn nhất định sẽ trải qua rất
                nhiều những sự kiện, trải nghiệm. Điều gì khiến những sự kiện và
                trải nghiệm của bạn khác với mọi người? Đó chính là
                <em><strong>sự dẫn lối của “bài học đường đời”</strong></em>
                trong con số bạn đang sở hữu. Khi hiểu được những bài học này là
                <em
                  ><strong
                    >điều tất yếu phải diễn ra trong cuộc đời mình</strong
                  ></em
                >, bạn sẽ đối diện với những sự kiện, trải nghiệm sống, đối diện
                với những mối quan hệ và nấc thang sự nghiệp với tâm thế đón
                nhận thay vì gạt bỏ, trốn tránh. Những bài học như sợi chỉ đỏ
                <strong><em>xuyên suốt hành trình sống</em></strong> của bạn.
                <strong
                  ><em
                    >Hãy luôn sẵn sàng học bài học đường đời dành riêng cho
                    mình.</em
                  ></strong
                ></span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Mục đích và bài học quan trọng nhất mà bạn cần nắm được khi có
                mặt trên cuộc đời này là
                <em><strong>học cách tự chủ và độc lập thực sự</strong></em
                >. Hãy học cách đứng trên đôi chân của mình thật vững chãi. Hãy
                cho phép những điểm độc đáo trong bản năng và tính cách của mình
                được tự do phát triển và thể hiện với thế giới bên ngoài.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Hành trình cuộc đời bạn sẽ trải qua những sự kiện lớn nhỏ giúp
                cho bạn được rèn luyện được 2 bài học lớn:
                <em
                  ><strong
                    >Lãnh đạo chính mình và Lãnh đạo người khác.</strong
                  ></em
                >
                Trong suốt cuộc đời của bạn, hãy luôn làm việc hướng tới sự độc
                lập, chủ động, rèn luyện sự quản trị bản thân, đó là điểm tập
                trung hàng đầu mà bạn phải chú ý.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Ở những nấc thang tiếp theo, đừng bao giờ quên rằng bạn sinh ra
                để trở thành Nhà lãnh đạo. Bạn tạo ra sự cải cách và những điều
                mới mẻ, truyền cảm hứng cho người khác, thúc đẩy niềm tin và
                động lực để họ hoàn thành mục tiêu.</span
              >
            </p>

            <p>
              <span style="color: #e03e2d"
                ><strong>NGHỀ NGHIỆP PHÙ HỢP</strong></span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Người số 1 đại diện cho sự quyết tâm, tính mục tiêu và mang
                năng lượng của thành công. Chính vì vậy mà bạn có thể dễ dàng
                <em><strong>lựa chọn bất cứ lĩnh vực nào</strong></em> để bạn
                tham gia vào. </span
              ><strong>NAME</strong><span style="font-weight: 400"> </span
              ><span style="font-weight: 400"
                >có thể làm doanh nhân, bác sĩ, chủ nhà hàng, chủ cửa tiệm, luật
                sư, sĩ quan quân đội,...hay bất cứ ngành nghề nào mang tính độc
                lập và được tự chủ ra quyết định.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Khi lựa chọn nghề nghiệp, bạn hãy bắt đầu bằng câu hỏi: “Tôi
                muốn mình trở thành người như thế nào?” và sau đó hãy chọn lĩnh
                vực mà bạn đang có niềm yêu thích nhất. Bạn chỉ cần ra quyết
                định lựa chọn, đặt mục tiêu rõ ràng và có kế hoạch hành động cụ
                thể, bất cứ lĩnh vực nào mà bạn tham gia cũng đạt được thành
                tựu.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Ngoài ra việc lựa chọn nghề nghiệp phù hợp cũng sẽ
                <em><strong>cần xét thêm bộ chỉ số cụ thể khác</strong></em> của
                bạn để đưa ra quyết định tối ưu nhất.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="bw_absolute bw_page_footer bw_color_black">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 9</p>
      </div>
    </div>

    <div class="bw_wrapper bw_page_8 bw_split">
      <div class="bw_page_header bw_color_black">
        <img src="bw_image/logo_c.png" alt="1" />
      </div>
      <div class="bw_text_center bw_sdfs">
        <h1>LINH HỒN</h1>
      </div>
      <div class="bw_content bw_mt_20">
        <div class="bw_index_items">
          <p>9</p>
        </div>
        <div class="bw_tetx">
          <p>
            Chỉ số đường đời l&agrave; chỉ số c&oacute; &yacute; nghĩa lớn nhất
            trong suốt h&agrave;nh tr&igrave;nh cuộc sống của bạn. N&oacute;
            phản &aacute;nh con đường m&agrave; bạn cần đi qua, từ đ&oacute;
            h&igrave;nh th&agrave;nh n&ecirc;n c&aacute;c đặc điểm t&iacute;nh
            c&aacute;ch của bạn, tiết lộ cho bạn biết c&aacute;c kỹ năng bạn cần
            ph&aacute;t triển để th&agrave;nh c&ocirc;ng, những b&agrave;i học
            m&agrave; bạn cần tốt nghiệp để đi tới đ&iacute;ch đến của
            m&igrave;nh. H&atilde;y nương theo con số n&agrave;y để con đường
            m&agrave; bạn đi thuận lợi v&agrave; &yacute; nghĩa nhất.
          </p>
        </div>
        <div class="bw_mt_40 bw_luangiai">
          <div class="bw_content_luangiai">
            <p style="text-align: center">
              <em><strong>QUOTE DÀNH CHO ĐƯỜNG ĐỜI 1</strong></em>
            </p>
            <p>
              <strong>“</strong
              ><em
                ><span style="font-weight: 400"
                  ><strong
                    >Khi tôi dám bước tới điểm bắt đầu tôi đã tự cho mình cơ hội
                    để chiến thắng. Không có điều gì có thể ngăn cản bước chân
                    của người mang ý chí và quyết tâm cao độ"
                  </strong></span
                ><span style="font-weight: 400">(</span></em
              ><span style="font-weight: 400">Khuyết danh)</span>
            </p>
            <p style="text-align: center">
              <span style="color: #e03e2d"
                ><strong
                  >RUNG ĐỘNG NĂNG LƯỢNG RIÊNG: THỦ LĨNH - SỰ DẪN ĐẦU</strong
                ></span
              >
            </p>
            <p style="text-align: center">
              <strong
                >Những Keyword nổi bật ở người có Đường đời là con số 1:</strong
              >
            </p>
            <table
              style="
                border-collapse: collapse;
                width: 100%;
                background-color: #eccafa;
                border-color: #843fa1;
              "
              border="1"
            >
              <tbody>
                <tr>
                  <td style="width: 17.3749%; text-align: center">
                    <p>
                      <strong><em>Lãnh đạo</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Tiên phong</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.8083%; text-align: center">
                    <p>
                      <strong><em>Tập trung</em></strong>
                    </p>
                  </td>
                  <td style="width: 17.9415%; text-align: center">
                    <p>
                      <strong><em>Trách nhiệm</em></strong>
                    </p>
                  </td>
                  <td style="width: 13.7866%; text-align: center">
                    <p>
                      <strong><em>Sáng tạo</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Mạnh mẽ</em></strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="width: 17.3749%; text-align: center">
                    <p>
                      <strong><em>Quyết đoán</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Độc lập</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.8083%; text-align: center">
                    <p>
                      <strong><em>Hành động</em></strong>
                    </p>
                  </td>
                  <td style="width: 17.9415%; text-align: center">
                    <p>
                      <strong><em>Mục tiêu</em></strong>
                    </p>
                  </td>
                  <td style="width: 13.7866%; text-align: center">
                    <p>
                      <strong><em>Tự tin</em></strong>
                    </p>
                  </td>
                  <td style="width: 16.9972%; text-align: center">
                    <p>
                      <strong><em>Năng động</em></strong>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <span style="color: #e03e2d"
                ><strong>TÍNH CÁCH ĐƯỢC HÌNH THÀNH</strong></span
              >
            </p>
            <p>
              <em
                ><span style="font-weight: 400"
                  >Theo những nghiên cứu thực tế của Ungdungthansohoc.com về
                  cuộc đời của mỗi con người, chúng tôi nhận thấy Chỉ số đường
                  đời là
                </span></em
              ><strong><em>chỉ số xuyên suốt hành trình cuộc đời</em></strong
              ><em
                ><span style="font-weight: 400">
                  của mỗi người. Bạn cần
                </span></em
              ><strong><em>phân biệt</em></strong
              ><em
                ><span style="font-weight: 400">
                  được rằng những “ƯU ĐIỂM” dưới đây là
                </span></em
              ><strong
                ><em
                  >những điểm mạnh được hình thành trên chặng đường phát triển
                  của bạn</em
                ></strong
              ><em
                ><span style="font-weight: 400"
                  >, từ khi bạn sinh ra đến mãi về sau. Những đặc điểm này
                </span></em
              ><em
                ><span style="font-weight: 400"
                  >không phải “yếu tố bẩm sinh”</span
                ></em
              ><em
                ><span style="font-weight: 400"
                  >. Bạn hiểu rằng Chỉ số đường đời chỉ ra cho bạn con đường bạn
                  cần đi, các sự kiện tình huống diễn ra trên con đường đó có
                  những tính chất riêng nhất định tùy theo con số mà bạn sở hữu.
                  Khi đi trên con đường đó, bạn sẽ được tôi luyện, va vấp để
                </span></em
              ><strong><em>bộc lộ ra những ưu điểm phù hợp</em></strong
              ><em
                ><span style="font-weight: 400">
                  với hành trình của bạn.</span
                ></em
              >
            </p>
            <p>
              <span style="color: #e03e2d"><strong>ƯU ĐIỂM</strong></span>
            </p>
            <p>
              <span style="font-weight: 400"
                >Người số 1 đại diện cho những người thủ lĩnh, tiên phong thực
                hiện những điều mới mẻ hoặc những việc chưa ai dám dấn thân. Bạn </span
              ><strong>NAME </strong
              ><span style="font-weight: 400"
                >có khả năng lãnh đạo và dẫn dắt cho người khác thực hiện mục
                tiêu đã đề ra. Trong tổ chức, đội nhóm, người số 1 luôn là người
                có trách nhiệm cao nhất và cũng thường là người đảm bảo kết quả
                cuối cùng của bất kì công việc nào mà họ đảm nhận.</span
              >
            </p>
            <p>
              <span style="font-weight: 400">Con số 1 mang năng lượng của </span
              ><strong><em>sự độc lập, tự chủ</em></strong
              ><span style="font-weight: 400">
                chính vì thế người số 1 luôn có tính tự lập và khả năng tự ra
                quyết định rất mạnh mẽ. Nếu bạn đã thích và lựa chọn một chủ đề
                nào đó, bạn sẽ sẵn sàng là người dẫn đầu để khai phá và thực
                hiện tìm hiểu, phát triển đến cùng chủ đề đó dù có bất cứ khó
                khăn nào xảy ra. Đồng thời, bạn cũng có tài năng trong việc </span
              ><strong><em>tổ chức sắp xếp</em></strong
              ><span style="font-weight: 400">
                công việc cũng như con người để hoàn thành mọi việc tốt
                nhất.</span
              >
            </p>
            <p>
              <span style="font-weight: 400">Bạn </span><strong>NAME</strong
              ><span style="font-weight: 400"> có tính </span
              ><strong><em>hành động mạnh mẽ</em></strong
              ><span style="font-weight: 400"
                >, đối với bạn chỉ có hành động mới mang lại kết quả thực sự,
                chỉ có hành động mới là ngôn ngữ thực tế nhất trong đời sống.
                Bạn sáng tạo và tự tin chinh phục bất cứ mục tiêu nào mình đã đề
                ra. Có thể nói, người số 1 là người bị ám ảnh bởi mục tiêu, vì
                vậy nên bạn có </span
              ><strong><em>khả năng tập trung</em></strong
              ><span style="font-weight: 400">
                cao độ cho những gì mình mong muốn thực hiện.</span
              >
            </p>
            <p>
              <strong><em>Cá tính, năng động</em></strong
              ><span style="font-weight: 400">
                và khát khao thể hiện bản thân là điểm nổi trội ở con người bạn. </span
              ><strong>NAME</strong
              ><span style="font-weight: 400">
                sẽ luôn quyết tâm cao độ để giành được thắng lợi bởi bạn có niềm
                tin vững chãi về chính bản thân mình và khả năng thực hiện xuất
                sắc mọi công việc.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Một đặc điểm dễ nhận thấy ở bạn sẽ là </span
              ><strong><em>năng lực sáng tạo</em></strong
              ><span style="font-weight: 400">
                tuyệt vời và rất thông minh. Bạn có nhiều phát kiến táo bạo, mới
                mẻ và luôn thúc đẩy bản thân tìm kiếm những giải pháp đổi mới
                thậm chí là những cải cách vượt trội. Bạn có nhiều ý tưởng, thậm
                chí khác biệt và đi ngược với số đông nhưng bạn luôn tìm cách
                hiện thực hóa nó bằng mọi giá.</span
              >
            </p>
            <p>
              <span style="font-weight: 400"
                >Hãy không ngừng phát triển để trở thành một người lãnh đạo
                tuyệt vời bởi bên trong </span
              ><strong>NAME </strong
              ><span style="font-weight: 400"
                >đã có sẵn nhiệt huyết để truyền cảm hứng cho người khác, </span
              ><span style="font-weight: 400"
                >thúc đẩy người khác đạt mục tiêu và khích lệ họ thêm tin tưởng
                vào bản thân mình.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="bw_absolute bw_page_footer bw_color_black">
        <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
        <p>Trang 9</p>
      </div>
    </div>
    
    <script>
      function createPage(page, index) {
        let html = `<div class="bw_wrapper bw_page_8 ">
                        <div class="bw_page_header bw_color_black">
                            <img src="bw_image/logo_c.png" alt="1" />
                        </div>
                        <div class="bw_content bw_mt_20">
                            <div class="bw_mt_40 bw_luangiai">
                                <div class="bw_content_luangiai">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="bw_absolute bw_page_footer bw_color_black">
                            <p><img src="" /> © 2021 - Bản quyền thuộc về ungdungthansohoc.com</p>
                            <p>Trang 9</p>
                        </div>
                    </div>`;
        page.insertAdjacentHTML("afterend", html);
      }

      function appendToLastPage(page, html) {
        //Child
        let child = page.querySelector(".bw_content_luangiai");
        //Noi dung
        var pageText = child.innerHTML;
        child.innerHTML += html; // saves the text of the last page
        if (page.offsetHeight > 1123) {
          child.innerHTML = pageText; //resets the page-text
          return false; // returns false because page is full
        } else {
          return true; // returns true because word was successfully filled in the page
        }
      }

      function paginateText() {
        //Lấy danh sách page cần split
        let pagesPaging = document.getElementsByClassName("bw_split");

        //Duyệt
        for (let index = 0; index < pagesPaging.length; index++) {
          let page = pagesPaging[index];
          //Lấy element content
          let divLuanGiai = page.querySelector(".bw_content_luangiai");

          var cloneDivLuanGiai = page
            .querySelector(".bw_content_luangiai")
            .cloneNode(true);

          //Lấy all Child
          var childsLuanGiai = cloneDivLuanGiai.children;
          // console.log({ childsLuanGiai });

          //Reset
          divLuanGiai.innerHTML = "";

          for (let j = 0; j < childsLuanGiai.length; j++) {
            const childHtml = childsLuanGiai[j];
            let html = childHtml.outerHTML;
            var success = appendToLastPage(page, html);
            if (!success) {
              createPage(page);
              page = page.nextSibling;
              appendToLastPage(page, html);
            }
          }
        }
      }

      window.addEventListener("load", function () {
        paginateText();
      });
    </script>
  </body>
</html>
