{
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "jsBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "semi": true,
    "printWidth": 120
}