.cardBody-wrap {
  padding: 10px;
}

.wrap-routing {
  width: 100%;
  height: 300px;
  background-size: cover;
  //   background-attachment: fixed;
  background-position: center;
  border-radius: 0.25rem;
  animation: animateBG 15s linear infinite;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
}

@keyframes animateBG {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 170% auto;
  }
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #4069ff;
  animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -750px 0;
  }
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
}

.circle span {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
  font-weight: 600;
  background: #fff;
  color: #35146f;
  text-transform: uppercase;
  font-size: 26px;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / var(--a)))) translateZ(200px);
  border-top: 2px solid #35146f;
  border-bottom: 2px solid #35146f;
  box-sizing: border-box;
  align-self: center;
}

.circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(1500px) rotateY(360deg) rotateX(8deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1500px) rotateY(0deg) rotateX(8deg) translateY(-30px);
  }
}

.img-news {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.body-news {
  background: #fff;
}

.card-news {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.circle-news {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.circle-news .imgBx {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.circle-news .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-news {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0px;
}

.text-review {
  display: inline-block;
  color: #fff;
  padding: 2px 4px;
  border-radius: 0.35rem;
  font-size: 18px;
}

.content-news span {
  word-wrap: break-word;
  font-size: 14px;
  color: #333;
  margin-top: 7px;
  padding: 10px 0;
}

.textIcon {
  font-size: 14px;
  padding: 10px 5px;
  margin-bottom: 10px;
  background-color: #c4eff8;
  border-radius: 0.35rem;
  // box-shadow: rgba(17, 12, 46, 0.15) 2px 2px 3px 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.textIcon span:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 5px;
}

.textIcon span:nth-child(2) {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
