.DateRangePicker_picker,
.css-26l3qy-menu {
  z-index: 9999;
}
.se-container {
  z-index: 0 !important;
}

.hove-color:hover hove-color {
  color: #f6d049 !important;
  background-color: #f6d049 !important;
}

.hover:hover {
  background: #e4e7e7;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.bl {
  border-left: 1px solid #e4e7e7;
}

.focus {
  background-color: #00a699;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 20px;
}


.review-image-upload{
  // width: 400px;
  .ant-upload-list-picture-card-container{
      height: 200px;
      width: 100%;
      .ant-upload-list-item-list-type-picture-card{
          width: 100%;
      }
  }
  .ant-upload-select-picture-card{
      height: 200px;
      width: 100%;
  }
  .ant-upload.ant-upload-select-picture-card{
    height: 200px;
    width: 100%;
  }
  .ant-upload-list-item-image{
      // object-fit: contain !important;
  }

  // img.ant-upload-list-item-image{
  //   object-fit:contain !important;
  // }
}