.title {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #34abd6, #46ccad);
  //   background-color: #66439a;
  color: #ffffff !important;
  padding: 16px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrap-fa {
  display: inline-block;
  padding-right: 10px;
}
