.care-data-leads .overlay-box {
  width: 640px;
}
.care-data-leads-task .overlay-toolbars {
  display: none;
}
.care-data-leads-task .overlay-box {
  margin-top: 15px;
  width: 90%;
  min-width: 960px;
  padding: 0 !important;
  background-color: transparent;
}