.background-url-upload {
    // width: 400px;
    .ant-upload-list-picture-card-container {
      height: 150px;
      width: 100%;
      margin-top: 0;
      .ant-upload-list-item-list-type-picture-card {
        width: 100%;
      }
    }
    .ant-upload-select-picture-card {
      height: 150px;
      width: 100%;
    }
    .ant-upload.ant-upload-select-picture-card {
      height: 150px;
      width: 100%;
      margin-top: 0;
    }
    .ant-upload-list-item-image {
      // object-fit: contain !important;
    }
  }
  
  