body.tox-dialog__disable-scroll{
    overflow: auto !important;
}
.DropzoneArea-dropZone-14{
    z-index: 1;
}
.author{
    .tl-render-image {
        height: 200px;
        min-height: 200px;
        position: relative;
        img{
            max-height: 200px;
        }
        button {
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            /* color: red; */
            /* background: red; */
            /* color: #fff; */
            align-items: center;
            display: flex;
        }
    }
    .tl-drop-image{
        .DropzoneArea-dropZone-14{
            height: 200px;
            min-height: 200px;
            position: relative; 
        }
        .DropzoneArea-dropZone-636{
            z-index: 1;
        }
    }
}

.tl-drop-image {
    .banner-image-upload{
        height: 145px;
        object-fit: cover;
    }
}
.banner-upload{
    width: 400px;
    .ant-upload-list-picture-card-container{
        height: 200px;
        width: 100%;
        .ant-upload-list-item-list-type-picture-card{
            width: 100%;
        }
    }
    .ant-upload-select-picture-card{
        height: 200px;
        width: 100%;
    }
    .ant-upload.ant-upload-select-picture-card{
        height: 200px;
        width: 100%;
      }

}
.author_quote_textarea{
    min-height: 200px;
}
