.list-image {
  padding: 2px;
  height: 52px;
  .image-item {
    position: relative;
    .image-item-action {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
    }
  }
}

.view-image {
  cursor: pointer;
  color: #20a8d8;
}

.cmt-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
}

.image-product-default {
  width: 100%;
  max-width: 190px;
  min-height: 140px;
  max-height: 140px;
  object-fit: contain;
}
.remove-image-default {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20;
}
// .ant-table-wrapper{
//   overflow: hidden;
// }

.button_ant_config {
  > Button {
    width: 120px;
    padding: 4px;
  }
}
.ant-table-tbody td:last-child button {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
}

.custome_table .ant-table-footer {
  padding: 5px !important;
  background-color: white !important;
}
.custome_table .ant-table-thead th{
  background-color: white !important;
  color: black !important;
  font-size: 14px !important;
  font-weight: bolder !important;
  border-bottom: 2px solid #DDDDDD;
  
}
.custome_table_border .ant-table-thead th{
  border-top: 2px solid #DDDDDD;
}

.title_detail_page {
  font-size: 15px;
  color: #20a8d8;
  margin-bottom: 16px;
}
.hide_araw {
  > input::-webkit-outer-spin-button,
  > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.emty_data_table_ant{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  padding: 7px;
  margin: -7px -10px;
}
.custom_icon{
    &:hover{
      color: #20a8d8;
    }
}


