.list-image {
  padding: 2px;
  height: 52px;
  .image-item {
    position: relative;
    .image-item-action {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
    }
  }
}

.view-image {
  cursor: pointer;
  color: #20a8d8;
}

.cmt-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
}

.image-product-default {
  width: 100%;
  max-width: 190px;
  min-height: 140px;
  max-height: 140px;
  object-fit: contain;
}
.remove-image-default {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20;
}
// .ant-table-wrapper{
//   overflow: hidden;
// }

.button_ant_config {
  > Button {
    width: 120px;
    padding: 4px;
  }
}
.ant-table-tbody td:last-child button {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
}

.custome_table .ant-table-footer {
  padding: 5px !important;
  background-color: white !important;
}
.title_detail_page {
  font-size: 15px;
  color: #20a8d8;
  margin-bottom: 16px;
}
.hide_araw {
  > input::-webkit-outer-spin-button,
  > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.ant-table-row-expand-icon-cell {
  position: relative;

  .ant-table-row-collapsed:after {
    content: "\E61D";
    font-family: "anticon" !important;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;

    right: 16px;
    top: 0;
    display: inline-block;
    transform: scale(0.66666667) rotate(0deg);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
  }

  .ant-table-row-expanded:after {
    content: "\E61D";
    font-family: "anticon" !important;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;

    right: 16px;
    top: 0;
    display: inline-block;
    transform: rotate(180deg) scale(0.75);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
  }
}
