.home-page_textarea{
    min-height: 100px;
}

.home-page_textarea_WELCOME{
    min-height: 150px;
}

.dropzone-descryption{
    height: 150px;
    min-height: 150px;
}

.title-page-seo{
    margin: 0px 5px;
}

.title-page-seo-name{
    padding-left: 0px;
    border-bottom: 1px solid #20a8d8;    
}

